In [1]:
print("Hello world")

Hello world

In [2]:
# a= 10
# b=343
# c=a+b
# print(c)
10+20

30

In [3]:
"Excelr"

'Excelr'

In [4]:
print("Welcome to Exelr") #print is a function beacause after print word the round brackets are present
#How to identify the Function
#round brackets are present after any word are known as function
#We pass inside the function an argument , parameter or input to function

Welcome to Exelr

In [5]:
120/2

60.0

In [6]:
(5-2)*10

30

# Variables

In [7]:
mark=100 #mark is a variable we are storing the interger value in the mark variable
print(mark)

100

# Checking Data Type

In [8]:
type(mark)

int

In [9]:
5**3

125

In [10]:
5**2

25

# Boolean Operations

In [11]:
x=True
y=False

In [12]:
x or y

True

In [13]:
x and y

False

In [14]:
not x

False

In [15]:
not y

True

In [16]:
x=30
y=37

In [17]:
z=x<y
z

True

In [18]:
z1=x>y
z1

False

In [19]:
not z

False

In [20]:
not z1

True

# Type Casting

In [21]:
type(z1)

bool

In [22]:
price=50.5
price
type(price)

float

In [23]:
print(price) # To see intermediate line's output use print() function
type(price)#it both print the price of the above code and type of the code

50.5

float

In [24]:
name='vivek'#we  also write the string in double cot " " as well as single cot ''
type(name)

str

# Checking Directory of the string

In [25]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Changing the Sentences or word to upper, lower , proper , swapcase and captilization

In [27]:
str1="welcome to excelr"
str1.capitalize()

'Welcome to excelr'

In [28]:
str1

'welcome to excelr'

In [29]:
str1.upper()

'WELCOME TO EXCELR'

In [30]:
str1.lower()

'welcome to excelr'

In [31]:
str1.title()

'Welcome To Excelr'

In [33]:
food="BBb"
name="qQQQ"
print(food.swapcase())
print(name.swapcase())   #swapcase reverse the word capital to small case or small case to capital

bbB
Qqqq

# Split

In [34]:
s1="my name is kedar"
s1.split() #list of string is created and seperate with words by using commas

['my', 'name', 'is', 'kedar']

In [35]:
s2="MUmbai-pune-kolhapur"
s2.split()

['MUmbai-pune-kolhapur']

In [36]:
s2.split("-")

['MUmbai', 'pune', 'kolhapur']

In [37]:
mail="jadhavv.vj31@gmail.com"
mail.split("@")

['jadhavv.vj31', 'gmail.com']

# Replace

In [38]:
s1.replace("kedar","vivek")

'my name is vivek'

In [39]:
s1 # It does not affect on original sentence

'my name is kedar'

# Count

In [40]:
city="satara"
city.count("a")

3

In [42]:
"kedar".count("a")

1

In [45]:
n1=5
n1*10 #n1 is a variable which have value 5 then we perform  n1*10  it automatically keep the value of that variable

50

In [60]:
name="raj"
name*4   #we multiple the name varible value by 4 it print raj 4 times

'rajrajrajraj'

In [46]:
name="rajesh"
surname="kulkarni"
name+surname            #we doing concatenate means we adding the 2 name by + operator

'rajeshkulkarni'

In [48]:
name+" "+surname # In above rajesh kulkarni name there is no space between words

'rajesh kulkarni'

# Conditional formating

In [49]:
#conditional formating
a=10
b=20
if a>b:
    print("In True Block :")
    print("a is greater ")
    c=a+b
    print(c)
else:  
    print("In False Block :")
    print("b is greater")
    c=a-b
    print(c)

In False Block :
b is greater
-10

In [53]:
a=5999
b=34763
if a>b:
    print("a is greater",a)
else:
    print("b is greater",b)

b is greater 34763

In [54]:
salary=15000
if(salary>15000):
    tax=0.25
    print("hello from true if")
else:
    tax=0.20
    print("Hello from false if / else ")
print("bye ... outside the block") #this print statement is outside of indendation
net_sal = salary - tax * salary
print("Net salary=",net_sal)

Hello from false if / else
bye ... outside the block
Net salary= 12000.0

# Range

In [55]:
#RANGE
range(5,10)

range(5, 10)

In [56]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello

In [57]:
for num in range(0,3):
    print("Hello")

Hello
Hello
Hello

# For loop

In [58]:
#FOR LOOP

for i in range(5,10):
    print(i)
print("Bye")  # Bye is outside of the Indentation that why execute every time

5
6
7
8
9
Bye

In [59]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [60]:
#print odd numbers from 1  to 20
for i in range (1,21,2):   #here in the index there are 3 parameter first one is (startstep,endstep,stepor diffrence between stpes)
    print(i)

1
3
5
7
9
11
13
15
17
19

In [61]:
#Here are the 1 to 20 even number printed by the range function by using the step in range
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

# BREAK STATEMENT

In [62]:
#BREAK STATEMENT = break statement are help us to stop the loop when condition is statisfied

for i in range(1,11):
    if i==5:
        print("same")
        break  #break condition is satisfied when the condition is match or same condition is found
    else:
        print(i)

1
2
3
4
same

In [66]:
# for num in range(0,10):
for num in range(11):
    print(num,num*num)#num and its square
    print(num,num**3)   #num and its cube

0 0
0 0
1 1
1 1
2 4
2 8
3 9
3 27
4 16
4 64
5 25
5 125
6 36
6 216
7 49
7 343
8 64
8 512
9 81
9 729
10 100
10 1000

# range(start,stop,step)

In [67]:
#range(start,stop,step)
for i in range(1,31,5):
    print(i)
    # print(i,"@")

1
6
11
16
21
26

In [72]:
subject="Science"
for i in subject:
   
    print(i)
    # print(i,end="") #end are used for print science word in same line

S
c
i
e
n
c
e

In [79]:
name="vivek"
for i in range(1,7):
    # print(i)
    print(name * i) #we multiply the name varibale value means vivek by using the ireration in range (1,7) it print the value 6 times

vivek
vivekvivek
vivekvivekvivek
vivekvivekvivekvivek
vivekvivekvivekvivekvivek
vivekvivekvivekvivekvivekvivek

In [82]:
name="vivek"
for i in range(1,7):
    x = (name + " ")*i
    print(x)

vivek
vivek vivek
vivek vivek vivek
vivek vivek vivek vivek
vivek vivek vivek vivek vivek
vivek vivek vivek vivek vivek vivek

In [102]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
    #print(letter)
    # print(letter.swapcase())
    print(letter.swapcase(),end="")

dRISHYAM

In [83]:
for i in range (1,11):
    if i % 2 == 0:
        print('Even Number:',i) #this code are both execute the even and odd becoz one if condition are fail then the second condition are also perform
    else:
        print('Odd Number:',i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [84]:
print('Even Numbers:')
for i in range(1,11):
    if i % 2 == 0:
        print(i)

Even Numbers:
2
4
6
8
10

In [85]:
print('Odd Number:')
for i in range(1,11):
    if i%2!=0: # != not equal to
        print(i)

Odd Number:
1
3
5
7
9

In [87]:
#print each letter 4 times with seperator as space
Course="DATA SCIENCE"
for i in Course:
    print(i*4,"",end="")

DDDD AAAA TTTT AAAA      SSSS CCCC IIII EEEE NNNN CCCC EEEE

# length

In [88]:
len("My name") # it also calculate space

7

In [89]:
len("vivek""kedar")

10

# 1 List

In [90]:
#lIST are mutable / changable we can add element in list 
#Lists created using the square brackets[]
marks = [40,55,70,55,348,34,55,34]
marks

[40, 55, 70, 55, 348, 34, 55, 34]

In [91]:
type(marks)

list

In [92]:
l1=[23,34,4,45,34.3]
type(l1)

list

In [96]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [97]:
len(marks)

8

In [98]:
sorted(marks) #sorted small to large by default

[34, 34, 40, 55, 55, 55, 70, 348]

In [99]:
marks #this changes are not affect on the orignal list

[40, 55, 70, 55, 348, 34, 55, 34]

In [100]:
new_marks=sorted(marks) #new sorted list created original marks list are remains unchanged
new_marks

[34, 34, 40, 55, 55, 55, 70, 348]

In [101]:
marks

[40, 55, 70, 55, 348, 34, 55, 34]

In [102]:
marks.sort()  # original list is sorted in ascending order by default

In [103]:
marks

[34, 34, 40, 55, 55, 55, 70, 348]

In [104]:
marks

[34, 34, 40, 55, 55, 55, 70, 348]

In [105]:
name="vivek"
sorted(name)

['e', 'i', 'k', 'v', 'v']

In [106]:
marks.append(5632)#Append will add element in the last to the list 
marks

[34, 34, 40, 55, 55, 55, 70, 348, 5632]

In [107]:
marks.reverse() #it reverse the list

In [108]:
marks

[5632, 348, 70, 55, 55, 55, 40, 34, 34]

In [110]:
marks2=[32,45,67,78]
marks2.sort(reverse=True) #sorts in descending order when reverse=True is used it do permanent changes in the list

In [111]:
marks2

[78, 67, 45, 32]

### marks2.sort(reverse=False) #sorts in descending order when reverse=True marks2

In [133]:
marks3=[43,55,86,28,68]
marks3.sort  # (reverse=False) #by default it sort list data in ascending order

In [134]:
marks3

[43, 55, 86, 28, 68]

In [135]:
marks3.insert(2,95) #insert 2,95 at the end of the list

In [136]:
marks3

[43, 55, 95, 86, 28, 68]

In [137]:
marks

[34, 34, 40, 55, 55, 55, 70, 348, 5632]

In [139]:
90 in marks # it check the value we say it is persent or not

False

In [140]:
34 in marks

True

In [141]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 #concatenation or merging of two lists

[10, 20, 30, 40, 50, 60]

In [142]:
(list1 + list2)*3 #repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [234]:
stationary=['pen','pencil','sharpner'] #it is also list of the words / strings
stationary

['pen', 'pencil', 'sharpner']

In [235]:
len(stationary)

3

In [236]:
stationary.append("color box")

In [237]:
stationary

['pen', 'pencil', 'sharpner', 'color box']

In [238]:
len(stationary)

4

In [239]:
stationary.append(["notebook","book"]) #we add 2 element in list but in [] it is known as sub list of list when we check length it give 5

In [240]:
stationary

['pen', 'pencil', 'sharpner', 'color box', ['notebook', 'book']]

In [241]:
len(stationary)

5

In [242]:
stationary.pop(1) #index 1 element will be removed from list

'pencil'

In [243]:
stationary

['pen', 'sharpner', 'color box', ['notebook', 'book']]

In [244]:
stationary.append("pencil") #only one list element will be added

In [245]:
stationary

['pen', 'sharpner', 'color box', ['notebook', 'book'], 'pencil']

In [246]:
stationary.pop()  #if index no. is not mentioned pop() removes the last element
stationary

['pen', 'sharpner', 'color box', ['notebook', 'book']]

In [247]:
#to add multiple items use extend()
stationary.extend(['writing_pad','textbook','eraser'])
stationary

['pen',
 'sharpner',
 'color box',
 ['notebook', 'book'],
 'writing_pad',
 'textbook',
 'eraser']

In [248]:
len(stationary)

7

In [249]:
stationary.remove('eraser')  #will remove mentioned element name from list
stationary

['pen',
 'sharpner',
 'color box',
 ['notebook', 'book'],
 'writing_pad',
 'textbook']

In [250]:
len(stationary)

6

In [252]:
stationary.index('textbook')

5

# elif (Multiple ifs)

In [254]:
'''
if conditon:
--- things to do when condition is true
else:
---things to do when condition is false
'''

#elif - multiple conditions
#num = 8 # try 0, 5
num = int(input("Enter a number:"))
if num > 0:
    print("positive")
elif num == 0:
    print("It's zero")
else:
    print("Negative")

Enter a number: 0

It's zero

### Get input from user and find grades

In [259]:
name = input("Enter your name:") #while taking input it may get time to execute or laptop may hang . then assign value directly to a variable

Enter your name: kedar

In [260]:
name

'kedar'

In [262]:
marks = input("Enter Marks:")

Enter Marks: 80

In [263]:
marks

'80'

In [264]:
age = 30

In [265]:
age + 10

40

In [266]:
marks + 10 #guess the output

TypeError: can only concatenate str (not "int") to str

In [267]:
# output is coming in quotation i.e. it is treated as string. You have to convert it to number.
# instead of doing it in 2 steps, while accepting input only we can convert it to integer.

age = int(input("Enter age : "))

Enter age :  10

In [268]:
age

10

In [269]:
age + 20

30

In [273]:
# accept a number from user, if it is divisible by 7 display "You win" else display "Sorry, try again"
num = int(input("Enter a number:"))
print(num)
if num % 7 == 0:
 print("You Won , it is divisible by 7")
else:
 print("sorry,try again")

Enter a number: 14

14
You Won , it is divisible by 7

In [278]:
# accept marks, if marks>=80 print "Distinction", if between 60-80 print "First class",
# if between 40-60 print "Pass", if less than 40 print"Fail"

marks=int(input("Enter your marks :"))
if marks>=80:
    print("Distinction")
elif marks>=60:
    print("First class")
elif marks>=40:
    print("pass")
else:
    print("Fail")

Enter your marks : 58

pass

## For Loop

In [282]:
mrklist = [34,55,77,95,20,65]
for marks in mrklist:
    if marks >=80:
        print(marks,"-->Distinction")
    elif marks >=60:
        print(marks,"-->First Class")
    elif marks >=40:
        print(marks,"-->Pass")
    else:    
        print(marks,"-->Fail")

34 -->Fail
55 -->Pass
77 -->First Class
95 -->Distinction
20 -->Fail
65 -->First Class

# While loop

In [2]:
#While loop : Print Hello for 5 times
cnt = 1
while cnt < 6 :
    print("Hello World")
    cnt = cnt + 1

Hello World
Hello World
Hello World
Hello World
Hello World

# Write user define function

In [2]:
# Write a square function
# Function Definition
def square(x):
    return x*x # or return x**2

In [3]:
#call a function
square(15)

225

In [4]:
square(5)

25

In [5]:
#write a function calc_grade(marks)
def calc_grade(marks):
    if marks >=80:
        grade = "Distinction"
    elif marks >=60:
        grade = "First Class"
    elif marks >=40:
        grade = "Pass"
    else:
        grade = "Fail"
    return grade  #it should be aligned with if

In [6]:
calc_grade(47)

'Pass'

In [7]:
#List of strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [8]:
#Display fruits by changing case of all fruits to uppercase
for fruit in list3:
    #print(fruit.lower())  #in single: print(fruit.upper(),end="")
    (fruit.upper(),end="")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (458299583.py, line 4)

In [9]:
# In python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [10]:
list3[4]

'Custard Apple'

In [11]:
list3.count("Banana")

1

In [13]:
list3[6] #there is only 6 items are present but their indexing starts with 0 and ends with 5 (  6 items )

IndexError: list index out of range

In [14]:
list3[5]

'Strawberry'

# Slicing

In [16]:
#Slicing
list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [21]:
# from apple to strawberry i.e. till end
list3[1:] #or list3[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [22]:
# from beginning to pineapple (from index 0)
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [23]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [31]:
list3[-4::-1]
# list3[-4::-2] #start, end, step

['Banana', 'Apple', 'Mango']

In [28]:
# negative indexing -1 refers to last element
list3[-1]

'Strawberry'

In [29]:
list3[-3]

'Pineapple'

In [32]:
list3[-6]

'Mango'

In [34]:
#start stop step in slicing
print(list3)
list3[::2] # 0,2,4

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [35]:
n1=[1:31] # To create list of 1 to 30 - will raise error

SyntaxError: invalid syntax (3308085604.py, line 1)

In [36]:
n1=list(range(1,31))
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [37]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [38]:
#print nos from index 2 to 26 with step value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [39]:
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [40]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [41]:
list3[::-2]

['Strawberry', 'Pineapple', 'Apple']

In [42]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [44]:
'The' in 'Netherland' # it gives false beacause python is case sensitive

False

In [47]:
'therer' in 'Netherland'

False

In [48]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [55]:
list3.append("Mulberry")

In [56]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [57]:
# removes mentioned element
list3.remove("Mulberry")

In [58]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [59]:
#display fruits which contain substring as 'berry' using for loop
for fruit in list3:
    if 'berry' in fruit:
        print(fruit)

Strawberry

In [60]:
# Display fruits which contain substring as 'pple' using for loop
for fruit in list3:
    if 'pple' in fruit:
        print(fruit)

Apple
Pineapple
Custard Apple

In [61]:
list3.append("Black berry")

In [62]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [63]:
#create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
    if 'berry' in fruit:
        list4.append(fruit)
    else:
        list5.append(fruit)
    print(list4,end="")
    print(list5,end="")

[]['Mango'][]['Mango', 'Apple'][]['Mango', 'Apple', 'Banana'][]['Mango', 'Apple', 'Banana', 'Pineapple'][]['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']['Strawberry']['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']['Strawberry', 'Black berry']['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [64]:
#print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
    l2.append(i**2) #OR l2.append(i*i)
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [67]:
#list comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [68]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [69]:
#extract fruit names containing substring 'berry' using list comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [70]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [71]:
newlist

['Strawberry', 'Black berry']

In [72]:
newlist1=[i for i in list3 if 'berry' not in i]

In [73]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [74]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

# finding the index

In [78]:
list3.index('Banana') #it give index number of Banana

2

In [79]:
list3.index('Black berry') # IT gives index of Black berry

6

In [81]:
list3.index("orange") # the value we give to index are not in the list thats why it gives error

ValueError: 'orange' is not in list

In [82]:
print(list3,end="")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Black berry']

In [83]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

# Replace

In [84]:
#index 2 item was banana which is replaced by orange
#lists are multiple - you are replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

# 2 TUPLE

In [86]:
# Data Structure : 2.TUPLE
#Tuples are not mutable i.e immutable
#created using round brackets ()
t1 =(10,20,30,40,50)
t1

(10, 20, 30, 40, 50)

In [87]:
type(t1)

tuple

In [88]:
t1[3]

40

In [89]:
t1[0]=100 #will raise an error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [90]:
t3 = t1 + (6,7,8,9,10)

In [91]:
t3

(10, 20, 30, 40, 50, 6, 7, 8, 9, 10)

In [92]:
t1 * 3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [93]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [94]:
t1

(10, 20, 30, 40, 50)

In [96]:
t1.count(50) # in brackets we have passed an element of tuple (not the index)

1

In [97]:
t1.index(40) # in brackets we have passed an element of tuple (not the index)

3

In [98]:
t2=(1,1,1,2,2,6,6,6,7,6,6,7)

In [99]:
t2.count(2)

2

In [100]:
t2.count(6)

5

In [102]:
t2.index(6) # there are many 6  presents in the tuple but it only gives the first 6th number index

5

In [103]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple

#indexing
t1[2]

30

In [104]:
t1

(10, 20, 30, 40, 50)

In [105]:
#Slicing
t1[1:4]

(20, 30, 40)

In [106]:
t1[3:]

(40, 50)

#  3 Dictionary

In [2]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value" pairs.
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"} #{"Key" : "Value"}
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [3]:
type(capital_dict)

dict

In [4]:
dir(capital_dict) # OR dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
#access element of dictionary
capital_dict["Italy"]

'Rome'

In [6]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys1=capital_dict.keys()
keys1

dict_keys(['Nepal', 'Italy', 'England'])

In [7]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [8]:
type(keys1)

dict_keys

In [9]:
#The values () method return a view object that displays a list of all the values
value=capital_dict.values()
value

dict_values(['Kathmandu', 'Rome', 'London'])

In [10]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.values()
value

dict_values(['Kathmandu', 'Rome', 'London'])

In [11]:
# The update() method updates the dictionary with the elements from another
# dictionary object or from an iterable of key/value pairs.

add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [12]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [13]:
capital_dict.update({"Australia":"Canberra"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra'}

In [14]:
capital_dict.update({"a":"b","p":"q"})

In [15]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("a")

'b'

In [16]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra',
 'p': 'q'}

In [17]:
capital_dict['abc']="Mumbai"

In [18]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Canberra',
 'p': 'q'}

In [19]:
capital_dict.popitem() #removes last key : value pair from dictionary

('p', 'q')

In [20]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Canberra'}

In [21]:
#Dictionary Values can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [22]:
mytuple=(20,53,45,78,89,65,97)

In [23]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict}
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi',
  'abc': 'Mumbai',
  'Australia': 'Canberra'}}

In [24]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [25]:
len(mydict)

3

In [26]:
len(mydict['A'])

6

In [27]:
mydict['B']

(20, 53, 45, 78, 89, 65, 97)

In [28]:
mydict['A'][2] #index 0,1,2,3 3rd index element = Banana

'Strawberry'

In [31]:
mydict['C']['England']

'London'

In [32]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: name 'sqrt' is not defined

In [33]:
from math import sqrt
sqrt(36)

6.0

In [35]:
factorial(5)

NameError: name 'factorial' is not defined

In [36]:
from math import factorial
factorial(5)

120

In [37]:
sin(90)

NameError: name 'sin' is not defined

In [38]:
from math import sin,cos,tan

In [39]:
cos(0)

1.0

In [40]:
sin(90)

0.8939966636005579

In [43]:
from math import *
listnew=[10,2,3]
prod(listnew) # or prod ([10,20,30])

60

In [44]:
prod(t1)

NameError: name 't1' is not defined

In [45]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math  # or 'import math as mt', mt.sqrt(64 )
sequence = (2,2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [46]:
import math
list4=[2,3,4]
math.prod(list4)

24

In [47]:
dir(math) #all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [48]:
import math as mt

In [49]:
mt.sqrt(36)

6.0